#ignore the folder called build anywhere, but not files called build
build/
run/*.off
run/*.png
run/*.pgm
run/*.id
run/*.txt
mesures/*.off
mesures/*.png
mesures/*.pgm
mesures/*.id
mesures/*.txt
__pycache__
