[submodule "ext/pcl"]
	path = ext/pcl
	url = https://github.com/PointCloudLibrary/pcl.git
[submodule "ext/flann"]
	path = ext/flann
	url = https://github.com/mariusmuja/flann.git
[submodule "ext/DGtal"]
		path = ext/DGtal
		url = https://github.com/DGtal-team/DGtal.git
